body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 10px;
}

input, button {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

#app {
  display: none;
}

.user {
  background: white;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

.message {
  background: #dcf8c6;
  padding: 6px;
  margin: 4px 0;
  border-radius: 6px;
}
